form {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-areas:
        "name name"
        "type week"
        "starts ends"
        "room room"
        "link link"
        "fields fields"
        "submit submit";
    width: 100%;
    position: relative;
}

.form-submit-check {
    background-color: white;
    transform: translate(0, 0);
    color: #38e835;
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid #38e835;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    cursor: pointer;
}

.form-submit-check::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #38e835;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
}

.form-submit-check::after {
    content: "";
    display: inline-block;
    background-image: url("../img/check.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}

.form-submit-check:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}

.form-submit-check:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.form-submit-check:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.delete-button {
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 1;
}

.delete-button:active {
    height: 33px;
    right: 1px;
    bottom: 6px;
}

.cool-input-select {
    position: relative;
}

.cool-input-select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.cool-input-select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

.cool-input-select select:required:invalid {
    color: #5a667f;
}

.cool-input-select select option {
    color: #223254;
}

.cool-input-select select option[value=""][disabled] {
    display: none;
}

.cool-input-select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.cool-input-select select:hover + svg {
    stroke: #07f;
}

#svg-sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.cool-input-name {
    grid-area: name;
}

.cool-input-select-week {
    grid-area: week;
}

.cool-input-select-type {
    grid-area: type;
}

.cool-input-time-starts {
    grid-area: starts;
}

.cool-input-time-ends {
    grid-area: ends;
}

.cool-input-room {
    grid-area: room;
}

.cool-input-link {
    grid-area: link;
}

.cool-input-fields {
    grid-area: fields;
}

.predmet form button[type=submit] {
    grid-area: submit;
    margin: auto;
}

.cool-input * {
    box-sizing: border-box;
}

.cool-input {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.cool-input .cool-input-label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.cool-input .cool-input-focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;

}

.cool-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}

.cool-input input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);

}

.cool-input input:not(:-moz-placeholder-shown) + .cool-input-label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.cool-input input:not(:-ms-input-placeholder) + .cool-input-label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.cool-input input:not(:placeholder-shown) + .cool-input-label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.cool-input input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
}

.cool-input input:focus + .cool-input-label {
    color: #0077FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.cool-input input:focus + .cool-input-label + .cool-input-focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

form button[type="submit"] {
    display: block;
}

#allforms {
    margin-top: 3vh;
}

.ui-tabs-tab {
/*        font-size: 0.9rem;*/
    }
    
.ui-tabs-tab a {
    padding: 4px 6px !important;
}

#add-subject-hint {
    width: 200px;
    display: block;
    margin-top: 20px;
    margin-left: 65px;
    opacity: 0.8;
}

.add-new-subject-button {
    margin-top: 20px;
    text-align: center;
}

.add-new-subject-button img:first-of-type {
    right: 0px;
    width: 40px;
    cursor: pointer;
    opacity: 0.9;
}

.add-new-subject-button img:first-of-type:hover {
    opacity: 1;
}

.add-new-subject-button img:first-of-type:active {
    width: 38px;
    padding: 1px;
}

.continuebutton {
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.continuebutton:after {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.continuebutton:before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #007fff;
    transition: all 0.3s;
    z-index: -1;
}

.continuebutton:hover {
    color: #fff;
}

.continuebutton:active {
    background-color: #007fff;
}

.continuebutton:hover:before {
    width: 100%;
}

.backbutton {
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.backbutton:after {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.backbutton:before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #fc6203;
    transition: all 0.3s;
    z-index: -1;
}

.backbutton:hover {
    color: #fff;
}

.backbutton:active {
    background-color: #fc6203;
}

.backbutton:hover:before {
    width: 100%;
}

.finishbutton {
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.finishbutton:after {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.finishbutton:before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #38e835;
    transition: all 0.3s;
    z-index: -1;
}

.finishbutton:hover {
    color: #fff;
}

.finishbutton:active {
    background-color: #38e835;
}

.finishbutton:hover:before {
    width: 100%;
}

#settingsbutton {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    fill: white;
    cursor: pointer;
    opacity: 0.8;
}

#settingsbutton:hover {
    opacity: 1;
}

body {
    background-color: #262626;
    padding: 0px;
    margin: 0px;
}

.required:after {
    content: "*";
    color: red;
}

#link {
    position: absolute;
    left: 25vw;
    top: 25vh;
    display: block;
    width: 50vw;
    padding: 100px 0px 100px 0px;
    text-decoration: none;
    color: white;
}

#link span {
    font-size: 2em;
    display: block;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
    padding: 0px;
    border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog-close-hide {
    display: none;
}

#settings {
    display: inline-block;
    background-color: white;
    margin-top: 70px;
    padding: 5px 10px;
}

#settings button {
    display: block;
    margin-top: 5px;
}

#subjectsForms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.predmet {
    padding: 10px !important;

}

.ui-accordion-header {
    padding: 6px !important;
}

.ui-tabs-panel {
    padding: 15px 20px !important;
}

.ui-dialog-title-custom {
    overflow: visible !important;
}

#dialog-message {
    text-align: center;
}

.ui-dialog {
    padding: 8px;
}

.ui-dialog-buttonset {
    margin: 0px;
}

.ui-dialog-buttonset button {
    margin: auto !important;
}

.ui-dialog-buttonset button:first-of-type {
    margin-right: 5px !important;
}

#week-choose {
    min-height: 0px !important;
    position: relative;
    overflow: visible;
}

#tip-1 {
    height: 120px;
    position: absolute;
    left: -230px;
    top: -120px;
    z-index: 101;
}

.tip-1-svg * {
    stroke: white !important;
}

#tip-1-mobile {
    position: absolute;
    top: -150px;
    left: -25vw;
    display: block;
    width: 100vw;
}

.tip-1-svg-mobile * {
    stroke: white !important;
}

.tip-1-svg-mobile path:nth-of-type(2) {
    fill: white !important;
}

#add-subject-hint-mobile {
        display: block;
        width: 60vw;
        margin-left: 10px;
        margin-top: 10px;
    }

#finalize .ul-title {
    display: block;
    text-align: center;
    font-weight: bold;
}

#qr-share img {
    width: 100%;
}

#qr-svg {
    fill: white;
}

#qr-svg-object, #qr-svg-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#qr-svg-link {
    display: block;
    background-color: transparent;
    z-index: 2;
}



/* MOBILE UI */

@media only screen and (max-width: 600px) {
    
/*
    #allforms .ui-tabs-nav {
        height: 80px;
    }
*/
    
    #allforms .ui-tabs-tab {
        font-size: 0.85rem;
    }
    
    #allforms li.ui-tabs-tab {
        border: 1px solid #c5c5c5;
        border-radius: 3px;
    }
    
    #allforms .ui-tabs-anchor {
        padding: 4px 6px !important;
    }
    
    #allforms li.ui-tabs-tab:nth-of-type(6), #allforms li.ui-tabs-tab:nth-of-type(7) {
        margin-top: 5px;
        margin-bottom: 4px;
    }
    
/*
    .finalize-buttons {
        width: 40%;
        font-size: 0.9rem !important;
    }
*/
    
    
    
    
    
}